* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
}

body {
    background-color: #f1f1f1;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    width: 40%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.wrapper {
    margin: 0% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main img {
    width: 100%;
    height: auto;
}